<div class="item">
  <label for="avatar_url">Avatar URL</label>
  <div>
    <input
      type="url"
      name="avatar_url"
      placeholder="http://"
      value="{{student.avatar_url}}"
      id="avatar_url"
    >
  </div>
</div>

<div class="item">
  <label for="full_name">Nome Completo</label>
  <div>
    <input
      type="text"
      name="full_name"
      value="{{student.full_name}}"
      id="full_name"
    >
  </div>
</div>

<div class="item">
  <label for="email">Email</label>
  <div>
    <input
      type="email"
      name="email"
      value="{{student.email}}"
      id="email"
    >
  </div>
</div>

<div class="item">
  <label for="birthday">Data de Nascimento</label>
  <div>
    <input
      type="date"
      name="birthday"
      value="{{student.birthday}}"
      id="birthday">
  </div>
</div>

<div class="item">
  <label for="weekly_hours">Carga horária semanal (horas)</label>
  <div>
    <input
      type="number"
      name="weekly_hours"
      value="{{student.weekly_hours}}"
      id="weekly_hours"
    >
  </div>
</div>

<div class="item">
  <label for="grade">Ano Escolar</label>
  <div>
    <select name="grade">
      <option value="fifth"
      {% if student.grade == "fifth" %}selected{% endif %}>
        5º ano do ensino fundamental 
      </option>
      <option value="sixth"
      {% if student.grade == "sixth" %}selected{% endif %}>
        6º ano do ensino fundamental 
      </option>
      <option value="seventh"
      {% if student.grade == "seventh" %}selected{% endif %}>
        7º ano do ensino fundamental 
      </option>
      <option value="eighth"
      {% if student.grade == "eighth" %}selected{% endif %}>
        8º ano do ensino fundamental 
      </option>
      <option value="freshman"
      {% if student.grade == "freshman" %}selected{% endif %}>
        9º ano do ensino fundamental 
      </option>
      <option value="sophomore"
      {% if student.grade == "sophomore" %}selected{% endif %}>
        1º ano do ensino médio
      </option>
      <option value="junior"
      {% if student.grade == "junior" %}selected{% endif %}>
        2º ano do ensino médio
      </option>
      <option value="senior"
      {% if student.grade == "senior" %}selected{% endif %}>
        3º ano do ensino médio 
      </option>
    </select>
  </div>
</div>

<button type="submit">Salvar</button>