{% extends "layout.njk" %}

{% block content %}

<div class="show-card">

  <section class="show-avatar" style="background: url({{student.avatar_url}}) no-repeat center center / cover"></section>

  <section class="show-details">
    <h2>{{student.full_name}}</h2>

    <div class="item">
      <p>Email</p>
      <span>{{student.email}}</span>
    </div>

    <div class="item">
      <p>Idade</p>
      <span>{{student.age}} anos</span>
    </div>

    <div class="item">
      <p>Aniversário</p>
      <span>{{date(student.birthday).birthday}}</span>
    </div>

    <div class="item">
      <p>Ano escolar</p>
      <span>{{student.grade}}</span>
    </div>

    <div class="item">
      <p>Carga horária semanal</p>
      <span>{{student.weekly_hours}} horas</span>
    </div>

    <a href="/students/{{ student.id }}/edit" class="button">Editar</a>
    
  </section>
{% endblock content %}
