{% extends "layout.njk" %}

{% block content %}

<div class="wrapper">
	<h1>Teachers</h1>

  <section class="cards-grid">

    {% for teacher in teachers %}
    <div class="card" id="{{teacher.id}}">

      <div class="card-avatar">
        <img
          src="{{teacher.avatar_url}}"
          alt="Imagem de {{teacher.full_name}}"
        />
      </div>

      <div class="card-details">
        <p>{{teacher.full_name}}</p>
        <p>{{teacher.age}} anos</p>
        <p>{{teacher.educational_level}}</p>
        <p>Aula {{teacher.modality}}</p>

        <p>
        {% set comma = joiner() %}
        {% for field_of_study in teacher.fields_of_study -%}
        {{ comma() }} {{field_of_study}}
        {%- endfor %}
        </p>

        <p>Desde: {{teacher.created_at}}</p>
      </div>

    </div>
    {% endfor %}
  </section>

</div>

<script src="/scripts.js"></script>

{% endblock %}
